
<div class=" d-flex justify-content-center">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" type="text" />
            </mat-form-field>
        
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" />
            </mat-form-field>
            <div class="d-flex justify-content-center">
                <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit">Login</button>

            </div>
            </form>
</div>

  