<h2 mat-dialog-title *ngIf="data.isUpdate">Update User</h2>
<h2 mat-dialog-title *ngIf="!data.isUpdate">Create User</h2>

<mat-dialog-content class="mat-typography pb-1">
    <form [formGroup]="userForm" (ngSubmit)="onSave()" class="mt-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>first name</mat-label>
            <input matInput formControlName="fname" placeholder="First Name">
            <mat-error *ngIf="userForm.get('fname')?.invalid && userForm.get('fname')?.touched">
               First Name is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lname" placeholder="Last Name">
            <mat-error *ngIf="userForm.get('lname')?.invalid && userForm.get('lname')?.touched">
                Last Name is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="Username">
            <mat-error *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched">
                Username is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" type="email">
            <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                Please enter a valid email.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100" *ngIf="!data.isUpdate">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="password">
            <mat-error *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
                password is required.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions >
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="onSave()">Save</button>
</mat-dialog-actions>